<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>


    <div class="form-container">
      <button class="insideLogo">
        <img class="logo" src="/myImages/TeloNews.png" alt="TeloNews Logo" />
      </button>
      <p class="title">Welcome Back</p>

<div id="loader" class="loader" style="display:none;">
  <div class="spinner"></div>
</div>

      <form class="form" action="/auth/forgotPassword" method="POST">
        <h1 class="ForgotTeam">Enter the email You used for Sign Up</h1>

        <input type="email" name="email" class="input" placeholder="Email" />

        <button class="form-btn" type="submit">Get Code</button>

        <% if (error && error.length > 0) { %>
        <div class="error-message"><%= error[0] %></div>
        <% } %>
      </form>
      <br />
      <p class="sign-up-label">
        Don't have an account?<a
          href="/auth/signUp"
          class="sign-up-link"
          role="button"
          >Sign Up</a
        >
      </p>
    </div>

           <script src="/serverSide.js" >
    </script>
  </body>
</html>
