
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    
     <div class="form-container">

         <button class="insideLogo" >
        <img
          class="logo"
          src="/myImages/TeloNews.png"
          alt="TeloNews Logo"
        />
      </button>
      <p class="title">Welcome Back</p>

      <div id="loader" class="loader" style="display:none;">
  <div class="spinner"></div>
</div>

        <form class="form" Action = "/auth/newPassword"  method="POST"> 

        <input type="password" name ="password" class="input" placeholder="New Password">
    
        <button class="form-btn" type="submit" >Log in </button>

        <% if (error && error.length > 0) { %>
       <div class="error-message"><%= error[0] %></div>
      <% } %>

      </form>

        <script src="/serverSide.js" >
    </script>
</body>
</html>