
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
     <div class="form-container">
      <p class="title">We have sent 5 digit code on email please verify here</p>

        <form class="form" action = "/auth/verify"  method="POST"> 

        <input type="text" name ="code" class="input" placeholder="enter your code">
    
        <button class="form-btn" type="submit" >Verify</button>
      </form>
      <br>
      <p class="sign-up-label">
        Don't have an account?<a href ="/auth/signUp" class="sign-up-link"  role ="button" >Sign Up</a>
      </p>
    </div>

     <% if (!isLoggedin) { %>
    <hr class="hrLine" />
 <h1 class="alertuser" > login in Or Sign u to see more posts</h1>
 <% } %>


        <script >
      function Navigate(route){
        window.location.href = route;
      }

    </script>
</body>
</html>