* {
  margin: 0px;
  padding: 0px;
}


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: auto;
  height: 100px;

  padding-left: 2%;
}

.logo {
  height: 70px;
  width: 70px;

  background: none;
  border: none;
}

.logo:hover {
  transform: none;
}

.logobtn {
  height: auto;
  width: auto;

  background: none;
  border: none;
}

.search {
  width: 150px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: width 0.4s ease, background-color 0.3s ease;
  background-color: #f9f9f9;
  outline: none;
  border-color: teal;
}

/* Expand on focus or hover */
.search:focus,
.search:hover {
  width: 300px;
  background-color: #fff;
  border-color: teal;
}

.Authecation {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.login {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: white;

  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.login:hover {
  background-color: teal;
  color: white;
  transition: 0.3s;
  font-size: 60%;
}

.signup {
  width: 100px;
  height: 40px;

  background-color: teal;
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  font-size: 60%;

}

.logout{
  width: 100px;
  height: 40px;

  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  font-size: 80%;

}

.more{

   width: 100px;
  height: 40px;

  background-color: teal;
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

font-size: 80%;

}

.more:hover{

    background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-size: 60%;
}
.signup:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-size: 60%;
}
.logout:hover{
    background-color: teal;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-size: 60%;
}

.alertuser{
      display : flex;
      text-align: center;
      justify-content: center;
      margin-top: 10%;

      font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;



}

.menuBtnsDiv {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

img:hover {
  transform: translateY(-10px); /* moves image up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* optional shadow effect */
}

.menuBtn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: #ffffff;
  border: 2px solid #ccc;

  cursor: pointer;

  font-family: "Noto Serif", serif;
  font-weight: 600;

  border-bottom: 2=1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menuBtn:hover {
  transform: translateY(-1px); /* moves menu buttons up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* optional shadow effect */
}

.menuBtn:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
}

.hrLine {
  width: 85%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}
.hrLineforText {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
  margin-top: 2%;
}

.newsContainer {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  max-width: 1200px; /* container won’t shrink beyond this */
    display: flex;
    justify-content: center; /* center cards in container */
  gap: 20px; /* space between cards */
  flex-direction: column;
align-items: stretch; /* instead of center */
}

.NewsCard {
  background-color: #fff;

  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 300px; /* grow, shrink, min 300px */
  max-width: 100%; /* optional */
  box-sizing: border-box;
  width:100%;
  box-sizing: border-box;
  flex: none;  
  
}

.newsImage {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #ddd;
  margin-top: 10px;

    font-family: "Fresca", sans-serif;

  font-style: normal;
}

.newsDescription {
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
  font-family: "Noto Serif", serif;
}

.newsMetaTop {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: #000000;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

.url{
  color:blue;
}
.author{
  font-weight: bold;
}

.newsMetaBottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  font-size: 0.9rem;
  color: #000000;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
   word-break: break-word;
}

img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


img:hover {
  transform: translateY(-10px); /* moves image up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* optional shadow effect */
}

.form-container {
  width: 350px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;



  position: absolute;
  top: 50%;
  left: 50%;

  transform : translate( -50% , -50%);
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: none;
        background:none;
        border:none;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}



.google-login-button {
    padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: linear-gradient(90deg, teal, green );
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
  
}

.apple-icon,
    .google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}

@media (max-width: 600px) {
  .newsContainer {
    grid-template-columns: 1fr (80%);
    
  }

  .DoubleColum {
    grid-template-rows: auto;
  }
}

@media (max-width: 600px) {
  .newsContainer-Flipped {
    grid-template-columns: 1fr;
  }

  .DoubleColum {
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .newsCard2 {
    grid-template-columns: 1fr; /* Stack into one column */
    margin: 5%;
  }
}

/* Responsive: Stack on smaller screens */
@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr;
  }

  .meta {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Optional: make it 100% on mobile */
@media (max-width: 600px) {
  .search {
    width: 20%;
  }

  .search:focus,
  .search:hover {
    width: 40%;
  }
}
